.dogCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 25px;
    border: 2px solid white;
}

.dogCardHeader {
    display: flex;
    justify-content: center;
}

.dogCardHeader img {
    border-radius: 50%;
    overflow: hidden;
    height: 200px !important;
    width: 200px !important;
}

.dogCardBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dogCardButton {
    padding: .75rem;
    border: solid 2px white;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}

.dogCardButton:hover {
    background-color: white;
    color: black;
}