.arriba {
    border-top: 2px solid white;
}

.abajo {
    border-bottom: 2px solid white;
}

.derecha {
    border-right: 2px solid white;
}

.izquierda {
    border-left: 2px solid white;
}

.casillero {
    height: 33%;
    width: 33%;
    margin: 0
}