@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-500px * 5));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-500px * 5));
    }
  }

  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255,255,255,.7) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }

  .slideTrack{
    -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  width: calc(500px * 10);
  }
  .slide{
    height: 300px;
    width: 500px;
    object-fit: cover;
  }
  .slideText{
    background: linear-gradient(to top, rgba(255,255,255,.9) 0%, rgba(255, 255, 255, .2) 80%, rgba(255,255,255,0) 100%);
  }