.shelterLayoutContainer {
    border: 2px solid black;
    margin-bottom: 8rem;
}

.debtBanner {
    width: 100%;
    position: absolute;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    top: 4rem;
    left: 0;
    background-color: rgba(255, 0, 0, .7);
    color: white;
    height: 6rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 23rem));
    justify-content: space-around;
    gap: 1rem;
    align-items: start;
}

.shelterContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}