.shelterLayoutContainer {
    margin-top: 5rem;
}

.debtBanner {
    width: 100%;
    position: absolute;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: white;
    color: red;
    height: fit-content;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.debtButton {
    width: fit-content;
    border: 2px solid black;
    padding: .2rem 1rem;
    border-radius: 30px;
    color: black;
    transition: all .5s ease-in-out;
}

.debtButton:hover {
    border-color: black;
    background: black;
    color: white;
}

.cardContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 30rem));
    justify-content: space-evenly;
}

.shelterContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.dogsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0 2rem;
}

.personalContainer {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
}

.personalListContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}